:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width: 768px) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    font-size: 16px;
}

#root,
#__next {
    isolation: isolate;
}

.attribution {
    font-size: 10px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.container {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 10px;
}

.container .box .img img {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.container .box {
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container .box .content h1 {
    text-align: center;
    padding: 40px 0 10px 0;
    font-weight: 900;
    color: var(--Dark-blue);
}

.container .box .content p {
    text-align: center;
    color: var(--Desaturated-blue);
    padding-bottom: 30px;
}

.container .box .alt-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Very-pale-blue);
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
}

.container .box .alt-box .box-1 {
    display: flex;
    align-items: center;
}

.container .box .alt-box .box-1 .img {
    margin-right: 10px;
}

.container .box .alt-box .box-2 a {
    color: var(--Bright-blue);
    font-weight: 700;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.container .box .alt-box .box-2 a:hover {
    text-decoration: none;
    color: var(--Desaturated-blue);
}

.container .box .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.container .box .btn button:first-child {
    background: var(--Bright-blue);
    color: #fff;
    padding: 10px 30px;
    width: 95%;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.container .box .btn button:first-child:hover {
    background-color: var(--Desaturated-blue);
}

.container .box .btn button:last-child {
    background: var(--Very-pale-blue);
    color: var(--Desaturated-blue);
    padding: 10px 30px;
    width: 95%;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-bottom: 23px;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.container .box .btn button:last-child:hover {
    color: var(--Dark-blue);
    background-color: transparent;
}